# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.json

# Virtual environment
venv/
env/
Deep Learning Lab/
SpeechProcessing/MiniProj/
parallel_computing_lab/
Web Programming Lab/
*.egg-info/

# PyTorch checkpoints and model files
*.ckpt
*.pth
*.pt
checkpoint/

# Logs and debug files
*.log
logs/
debug.log

# Dataset and large files
data/
datasets/
*.nii
*.dcm
.github

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Django related
*.sqlite3
db.sqlite3
media/
staticfiles/

# Node.js dependencies
node_modules/

# Web-related
*.map
dist/
build/

# Misc
.DS_Store
.vscode/
.idea/
*.swp
*.swo
